<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADS2020-Task 2</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/public/js/material-custom.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/material/material.min.css">
    <!-- <link rel="stylesheet" href="/material/dist/material.light_green-light_blue.min.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header class="container d-flex flex-column justify-content-center">
        <h1 id="date" class="col-5 px-1 py-2 text-center">Thurday, July 18, 2020</h1>
    </header>
    <main class="container">
        <section class="row">
            <div class="col-sm-6 col-xs-12 pt-5">
                <form id="#" class="d-flex flex-column">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="taskTitle" >
                        <label class="mdl-textfield__label" for="taskTitle">Enter TASK TITLE e.g. Home Chores</label>
                    </div>
                    
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea class="mdl-textfield__input" type="text" rows= "3" id="taskContent" ></textarea>
                        <label class="mdl-textfield__label" for="taskContent">ENTER TASK DESCRIPTION HERE</label>
                      
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-xs-12" m-0>
                <div class="mdl-grid my-1">
                    <div class="todo-tab mdl-cell mdl-cell--6-col d-flex flex-column justify-content-center align-items-start">
                        <h4>Home Chores</h4>
                        <form action="">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                        </form>
                    
                    </div>
                    <div class="todo-tab mdl-cell mdl-cell--6-col d-flex flex-column justify-content-start align-items-start">
                        <h4>Home Chores</h4>
                        <form action="">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                        </form>
                    
                    </div>
                    <div class="todo-tab mdl-cell mdl-cell--6-col d-flex flex-column justify-content-start align-items-start">
                        <h4>Home Chores</h4>
                        <form action="">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                        </form>
                    
                    </div>
                    <div class="todo-tab mdl-cell mdl-cell--6-col d-flex flex-column justify-content-start align-items-start">
                        <h4>Home Chores</h4>
                        <form action="">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
                                <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
                                <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-3">
                                <input type="checkbox" id="checkbox-3" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-4">
                                <input type="checkbox" id="checkbox-4" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-5">
                                <input type="checkbox" id="checkbox-5" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-6">
                                <input type="checkbox" id="checkbox-6" class="mdl-checkbox__input">
                                <span class="mdl-checkbox__label">Checkbox</span>
                            </label>
                        </form>

                    
                    </div>
                  </div>

                
            </div>
            
            
        </section>

    </main>
    <footer class="d-flex flex-row justify-content-center">this is where the copyright would be</footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- <script src="/public/js/material-custom.js"></script> -->
<script src="/public/js/time.js"></script>
<script src="/material/material.min.js"></script>
<script src="/material/textfield/textfield.js"></script>
<script src="/material/checkbox/checkbox.js"></script>
<!-- <script src=""></script> -->
</html>