<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GADS2020-Task 2</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header class="container d-flex flex-column justify-content-center">
        <h1 id="date" class="col-5 px-1 py-2 text-center">Thurday, July 18, 2020</h1>
        <div class="form-group">
            <form action="" method="post"></form>
        </div>
    </header>
    <main>This is where the main content would be</main>
    <footer>this is where the copyright would be</footer>
</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/public/js/time.js"></script>
<!-- <script src=""></script> -->
</html>